import libraries(I provide all libs that I need when make this tasks, if you need some external import them here)

In [1]:
import findspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import col
from pyspark.sql.functions import max, avg, min
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
from pyspark.sql.functions import when

create local SparkSession

In [2]:
findspark.init()

In [3]:
spark = SparkSession.builder \
    .master('local[*]') \
    .appName('PySpark_Basics') \
    .getOrCreate()

read csv with inferschema

In [4]:
%%time

df = spark.read \
    .option('header', True) \
    .option('inferSchema', True) \
    .csv('../data/ds_salaries.csv')

CPU times: user 46.2 ms, sys: 7.39 ms, total: 53.6 ms
Wall time: 8.36 s

read csv one more time with the same code and you will see that it almostly don't take time, because info already in SparkSession and it will not read nothing
from this file

In [5]:
%%time

df = spark.read \
    .option('header', True) \
    .option('inferSchema', True) \
    .csv('../data/ds_salaries.csv')

CPU times: user 5.29 ms, sys: 0 ns, total: 5.29 ms
Wall time: 583 ms

write schema of scv on screen

In [6]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- work_year: integer (nullable = true)
 |-- experience_level: string (nullable = true)
 |-- employment_type: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salary_currency: string (nullable = true)
 |-- salary_in_usd: integer (nullable = true)
 |-- employee_residence: string (nullable = true)
 |-- remote_ratio: integer (nullable = true)
 |-- company_location: string (nullable = true)
 |-- company_size: string (nullable = true)

create schema of this scv

In [4]:
schema = StructType([
    StructField('id', IntegerType(), nullable=True),
    StructField('work_year', IntegerType(), nullable=True),
    StructField('experience_level', StringType(), nullable=True),
    StructField('employment_type', StringType(), nullable=True),
    StructField('job_title', StringType(), nullable=True),
    StructField('salary', IntegerType(), nullable=True),
    StructField('salary_currency', StringType(), nullable=True),
    StructField('salary_in_usd', IntegerType(), nullable=True),
    StructField('employee_residence', StringType(), nullable=True),
    StructField('remote_ratio', IntegerType(), nullable=True),
    StructField('company_location', StringType(), nullable=True),
    StructField('company_size', StringType(), nullable=True)
])

restart kernel without cleaning output and after restarting you need to initialize SparkSession, after initialize start execute only cells from cell with schema=
=StructType....
To restart kernel click Kernel, Restart.

read ds_salaries with predefined schema and compare results from this cell and cell with inferSchema

In [5]:
%%time

df = spark.read \
    .option('header', True) \
    .schema(schema) \
    .csv('../data/ds_salaries.csv')

CPU times: user 25.7 ms, sys: 4.69 ms, total: 30.4 ms
Wall time: 3.95 s

this happens because read operation is lazy(transformation), but if you use inferschema it start to be action that will create Spark Job, because Spark need to loop throw all file to check datatypes for all columns and this can harm to your code(if we compare to parquet, it will also go to check data types, but parquet provide meta information, so Spark will not go throw all file, he will just read meta information, but csv don't provide such meta information). Also header make Spark to create one more Spark Job to check first line
to define name of columns and remember to skeep it when reading. Actual reading start when you will use first action. More about Spark Jobs you will see in next topic

write schema of scv on screen one more time and compare with previous

In [6]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- work_year: integer (nullable = true)
 |-- experience_level: string (nullable = true)
 |-- employment_type: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salary_currency: string (nullable = true)
 |-- salary_in_usd: integer (nullable = true)
 |-- employee_residence: string (nullable = true)
 |-- remote_ratio: integer (nullable = true)
 |-- company_location: string (nullable = true)
 |-- company_size: string (nullable = true)

now continue to work with one of the dataframes that you create

print data in dataframe using df.show

In [7]:
df.show()

+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
| id|work_year|experience_level|employment_type|           job_title|  salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|
+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
|  0|     2020|              MI|             FT|      Data Scientist|   70000|            EUR|        79833|                DE|           0|              DE|           L|
|  1|     2020|              SE|             FT|Machine Learning ...|  260000|            USD|       260000|                JP|           0|              JP|           S|
|  2|     2020|              SE|             FT|   Big Data Engineer|   85000|            GBP|       109024|                GB|          50|              GB|           M|
|  3|     2020|              MI|             FT|Product Data Analyst|   20000|            USD|        20000|                HN|           0|              HN|           S|
|  4|     2020|              SE|             FT|Machine Learning ...|  150000|            USD|       150000|                US|          50|              US|           L|
|  5|     2020|              EN|             FT|        Data Analyst|   72000|            USD|        72000|                US|         100|              US|           L|
|  6|     2020|              SE|             FT| Lead Data Scientist|  190000|            USD|       190000|                US|         100|              US|           S|
|  7|     2020|              MI|             FT|      Data Scientist|11000000|            HUF|        35735|                HU|          50|              HU|           L|
|  8|     2020|              MI|             FT|Business Data Ana...|  135000|            USD|       135000|                US|         100|              US|           L|
|  9|     2020|              SE|             FT|  Lead Data Engineer|  125000|            USD|       125000|                NZ|          50|              NZ|           S|
| 10|     2020|              EN|             FT|      Data Scientist|   45000|            EUR|        51321|                FR|           0|              FR|           S|
| 11|     2020|              MI|             FT|      Data Scientist| 3000000|            INR|        40481|                IN|           0|              IN|           L|
| 12|     2020|              EN|             FT|      Data Scientist|   35000|            EUR|        39916|                FR|           0|              FR|           M|
| 13|     2020|              MI|             FT|   Lead Data Analyst|   87000|            USD|        87000|                US|         100|              US|           L|
| 14|     2020|              MI|             FT|        Data Analyst|   85000|            USD|        85000|                US|         100|              US|           L|
| 15|     2020|              MI|             FT|        Data Analyst|    8000|            USD|         8000|                PK|          50|              PK|           L|
| 16|     2020|              EN|             FT|       Data Engineer| 4450000|            JPY|        41689|                JP|         100|              JP|           S|
| 17|     2020|              SE|             FT|   Big Data Engineer|  100000|            EUR|       114047|                PL|         100|              GB|           S|
| 18|     2020|              EN|             FT|Data Science Cons...|  423000|            INR|         5707|                IN|          50|              IN|           M|
| 19|     2020|              MI|             FT|  Lead Data Engineer|   56000|            USD|        56000|                PT|         100|              US|           M|
+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
only showing top 20 rows

print data in dataframe using display(df.toPandas())

In [8]:
display(df.toPandas())

,id,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

create df_job_title that consists from all job_titles without duplicates

In [9]:
df_job_title = df.select('job_title').distinct()

print all rows from df_job_titles without truncating jobs

In [10]:
df_job_title.show(truncate=False)

+----------------------------------------+
|job_title                               |
+----------------------------------------+
|3D Computer Vision Researcher           |
|Lead Data Engineer                      |
|Head of Machine Learning                |
|Data Specialist                         |
|Data Analytics Lead                     |
|Machine Learning Scientist              |
|Lead Data Analyst                       |
|Data Engineering Manager                |
|Staff Data Scientist                    |
|ETL Developer                           |
|Director of Data Engineering            |
|Product Data Analyst                    |
|Principal Data Scientist                |
|AI Scientist                            |
|Director of Data Science                |
|Machine Learning Engineer               |
|Lead Data Scientist                     |
|Machine Learning Infrastructure Engineer|
|Data Science Engineer                   |
|Machine Learning Manager                |
+----------------------------------------+
only showing top 20 rows

create  df_analytic that will consists from max, avg, min USD salaries for all job_titles using groupBy. name of fields is avg_salary, min_salary, max_salary

In [11]:
df_analytic = df \
    .groupby('job_title') \
    .agg(min('salary_in_usd').alias('min_salary'),
        max('salary_in_usd').alias('max_salary'),
        avg('salary_in_usd').alias('avg_salary'))

print all rows from df_analytic without trancating jobs

In [12]:
df_analytic.show(truncate=False)

+----------------------------------------+----------+----------+------------------+
|job_title                               |min_salary|max_salary|avg_salary        |
+----------------------------------------+----------+----------+------------------+
|3D Computer Vision Researcher           |5409      |5409      |5409.0            |
|Lead Data Engineer                      |56000     |276000    |139724.5          |
|Head of Machine Learning                |79039     |79039     |79039.0           |
|Data Specialist                         |165000    |165000    |165000.0          |
|Data Analytics Lead                     |405000    |405000    |405000.0          |
|Machine Learning Scientist              |12000     |260000    |158412.5          |
|Lead Data Analyst                       |19609     |170000    |92203.0           |
|Data Engineering Manager                |59303     |174000    |123227.2          |
|Staff Data Scientist                    |105000    |105000    |105000.0          |
|ETL Developer                           |54957     |54957     |54957.0           |
|Director of Data Engineering            |113476    |200000    |156738.0          |
|Product Data Analyst                    |6072      |20000     |13036.0           |
|Principal Data Scientist                |148261    |416000    |215242.42857142858|
|AI Scientist                            |12000     |200000    |66135.57142857143 |
|Director of Data Science                |130026    |325000    |195074.0          |
|Machine Learning Engineer               |20000     |250000    |104880.14634146342|
|Lead Data Scientist                     |40570     |190000    |115190.0          |
|Machine Learning Infrastructure Engineer|50180     |195000    |101145.0          |
|Data Science Engineer                   |40189     |127221    |75803.33333333333 |
|Machine Learning Manager                |117104    |117104    |117104.0          |
+----------------------------------------+----------+----------+------------------+
only showing top 20 rows

now you need to add in df_analytic column row_id, that will show order of all job_titles depending on avg salary. they should be descending

In [13]:
avg_salary_col = Window.orderBy(col('avg_salary').desc())
df_analytic = df_analytic.withColumn('row_id', row_number().over(avg_salary_col))

print all data from df_analytic

In [14]:
df_analytic.show()

+--------------------+----------+----------+------------------+------+
|           job_title|min_salary|max_salary|        avg_salary|row_id|
+--------------------+----------+----------+------------------+------+
| Data Analytics Lead|    405000|    405000|          405000.0|     1|
|Principal Data En...|    185000|    600000| 328333.3333333333|     2|
|Financial Data An...|    100000|    450000|          275000.0|     3|
|Principal Data Sc...|    148261|    416000|215242.42857142858|     4|
|Director of Data ...|    130026|    325000|          195074.0|     5|
|      Data Architect|     90700|    266400| 177873.9090909091|     6|
|Applied Data Scie...|     54238|    380000|          175655.0|     7|
|  Analytics Engineer|    135000|    205300|          175000.0|     8|
|     Data Specialist|    165000|    165000|          165000.0|     9|
|        Head of Data|     32974|    235000|          160162.6|    10|
|Machine Learning ...|     12000|    260000|          158412.5|    11|
|Data Science Manager|     54094|    241000|          158328.5|    12|
|Director of Data ...|    113476|    200000|          156738.0|    13|
|Head of Data Science|     85000|    224000|         146718.75|    14|
|Applied Machine L...|     31875|    423000|         142068.75|    15|
|  Lead Data Engineer|     56000|    276000|          139724.5|    16|
|Data Analytics Ma...|    105400|    150260|127134.28571428571|    17|
| Cloud Data Engineer|     89294|    160000|          124647.0|    18|
|Data Engineering ...|     59303|    174000|          123227.2|    19|
|Principal Data An...|     75000|    170000|          122500.0|    20|
+--------------------+----------+----------+------------------+------+
only showing top 20 rows

it isn't beautifull, so we need to put now row_id on first place in df_analytic

In [15]:
df_analytic = df_analytic.select('row_id', 'job_title', 'max_salary', 'avg_salary', 'min_salary')

print df_analytic now

In [16]:
df_analytic.show()

+------+--------------------+----------+------------------+----------+
|row_id|           job_title|max_salary|        avg_salary|min_salary|
+------+--------------------+----------+------------------+----------+
|     1| Data Analytics Lead|    405000|          405000.0|    405000|
|     2|Principal Data En...|    600000| 328333.3333333333|    185000|
|     3|Financial Data An...|    450000|          275000.0|    100000|
|     4|Principal Data Sc...|    416000|215242.42857142858|    148261|
|     5|Director of Data ...|    325000|          195074.0|    130026|
|     6|      Data Architect|    266400| 177873.9090909091|     90700|
|     7|Applied Data Scie...|    380000|          175655.0|     54238|
|     8|  Analytics Engineer|    205300|          175000.0|    135000|
|     9|     Data Specialist|    165000|          165000.0|    165000|
|    10|        Head of Data|    235000|          160162.6|     32974|
|    11|Machine Learning ...|    260000|          158412.5|     12000|
|    12|Data Science Manager|    241000|          158328.5|     54094|
|    13|Director of Data ...|    200000|          156738.0|    113476|
|    14|Head of Data Science|    224000|         146718.75|     85000|
|    15|Applied Machine L...|    423000|         142068.75|     31875|
|    16|  Lead Data Engineer|    276000|          139724.5|     56000|
|    17|Data Analytics Ma...|    150260|127134.28571428571|    105400|
|    18| Cloud Data Engineer|    160000|          124647.0|     89294|
|    19|Data Engineering ...|    174000|          123227.2|     59303|
|    20|Principal Data An...|    170000|          122500.0|     75000|
+------+--------------------+----------+------------------+----------+
only showing top 20 rows

here you need to create df_exp_lvl with the biggest usd_salary(biggest_salary) for each experience_level(you need to save all fields like in entire dataframe)

In [17]:
experience_level = Window.partitionBy('experience_level')
df_exp_lvl = df.withColumn('biggest_salary', max('salary_in_usd').over(experience_level))

print here df_exp_lvl

In [18]:
df_exp_lvl.show()

+---+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+--------------+
| id|work_year|experience_level|employment_type|           job_title|salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|biggest_salary|
+---+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+--------------+
| 25|     2020|              EX|             FT|Director of Data ...|325000|            USD|       325000|                US|         100|              US|           L|        600000|
| 41|     2020|              EX|             FT|Data Engineering ...| 70000|            EUR|        79833|                ES|          50|              ES|           L|        600000|
| 73|     2021|              EX|             FT|     BI Data Analyst|150000|            USD|       150000|                IN|         100|              US|           L|        600000|
| 74|     2021|              EX|             FT|        Head of Data|235000|            USD|       235000|                US|         100|              US|           L|        600000|
| 84|     2021|              EX|             FT|Director of Data ...|130000|            EUR|       153667|                IT|         100|              PL|           L|        600000|
|160|     2021|              EX|             FT|        Head of Data|230000|            USD|       230000|                RU|          50|              RU|           L|        600000|
|161|     2021|              EX|             FT|Head of Data Science| 85000|            USD|        85000|                RU|           0|              RU|           M|        600000|
|164|     2021|              EX|             FT|Director of Data ...|110000|            EUR|       130026|                DE|          50|              DE|           M|        600000|
|167|     2021|              EX|             FT|Director of Data ...|250000|            USD|       250000|                US|           0|              US|           L|        600000|
|187|     2021|              EX|             FT|Data Science Cons...| 59000|            EUR|        69741|                FR|         100|              ES|           S|        600000|
|225|     2021|              EX|             CT|Principal Data Sc...|416000|            USD|       416000|                US|         100|              US|           S|        600000|
|252|     2021|              EX|             FT|Principal Data En...|600000|            USD|       600000|                US|         100|              US|           L|        600000|
|259|     2021|              EX|             FT|Director of Data ...|120000|            EUR|       141846|                DE|           0|              DE|           L|        600000|
|309|     2022|              EX|             FT|       Data Engineer|242000|            USD|       242000|                US|         100|              US|           M|        600000|
|310|     2022|              EX|             FT|       Data Engineer|200000|            USD|       200000|                US|         100|              US|           M|        600000|
|326|     2022|              EX|             FT|        Data Analyst|130000|            USD|       130000|                US|         100|              US|           M|        600000|
|327|     2022|              EX|             FT|        Data Analyst|110000|            USD|       110000|                US|         100|              US|           M|        600000|
|342|     2022|              EX|             FT|Head of Data Science|224000|            USD|       224000|                US|         100|              US|           M|        600000|
|343|     2022|              EX|             FT|Head of Data Science|167875|            USD|       167875|                US|         100|              US|           M|        600000|
|344|     2022|              EX|             FT|  Analytics Engineer|175000|            USD|       175000|                US|         100|              US|           M|        600000|
+---+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+--------------+
only showing top 20 rows

create df_best that consists from rows where salary of guy same as biggest salary for other people in his exp_lvl and choose only columns: id, experience_level, biggest_salary, employee_residence

In [19]:
df_best = df_exp_lvl \
    .select('id', 'experience_level', 'biggest_salary', 'employee_residence') \
    .where(col('salary_in_usd') == col('biggest_salary'))

print df_best

In [20]:
df_best.show()

+---+----------------+--------------+------------------+
| id|experience_level|biggest_salary|employee_residence|
+---+----------------+--------------+------------------+
|252|              EX|        600000|                US|
| 33|              MI|        450000|                US|
| 97|              MI|        450000|                US|
| 37|              EN|        250000|                US|
| 63|              SE|        412000|                US|
+---+----------------+--------------+------------------+

drop duplicates if exist by experience_level

In [21]:
df_best = df_best.dropDuplicates(['experience_level'])

print df_best

In [22]:
df_best.show()

+---+----------------+--------------+------------------+
| id|experience_level|biggest_salary|employee_residence|
+---+----------------+--------------+------------------+
|252|              EX|        600000|                US|
| 33|              MI|        450000|                US|
| 37|              EN|        250000|                US|
| 63|              SE|        412000|                US|
+---+----------------+--------------+------------------+

create df_new_best from df_best without id, and make the next: when exp_level = MI we want middle, when SE we want senior, else Null

In [23]:
df_new_best = df_best \
    .select('biggest_salary', 'employee_residence',
            when(col('experience_level') == 'MI', 'middle')
            .when(col('experience_level') == 'SE', 'senior')
            .otherwise(None).alias('experience_level'))

print df_new_best

In [24]:
df_new_best.show()

+--------------+------------------+----------------+
|biggest_salary|employee_residence|experience_level|
+--------------+------------------+----------------+
|        600000|                US|            null|
|        450000|                US|          middle|
|        250000|                US|            null|
|        412000|                US|          senior|
+--------------+------------------+----------------+

write df_new_best like 1.csv and load then it to df_final

In [25]:
df_new_best.write \
    .option('header', True) \
    .mode('overwrite') \
    .csv('../data/1.csv')

In [26]:
df_final = spark.read \
    .option('header', True) \
    .csv('../data/1.csv')

print df_final

In [27]:
df_final.show()

+--------------+------------------+----------------+
|biggest_salary|employee_residence|experience_level|
+--------------+------------------+----------------+
|        412000|                US|          senior|
|        450000|                US|          middle|
|        600000|                US|            null|
|        250000|                US|            null|
+--------------+------------------+----------------+

filter df_final to delete experience_level where it Null, then join this table by biggest_salary(salary_in_usd) and employee_residence with entire df

In [28]:
df_final = df_final \
    .dropna(subset='experience_level') \
    .join(df, (df_final.biggest_salary == df.salary_in_usd) & (df_final.employee_residence == df.employee_residence))

print df_final

In [29]:
df_final.show()

+--------------+------------------+----------------+---+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
|biggest_salary|employee_residence|experience_level| id|work_year|experience_level|employment_type|           job_title|salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|
+--------------+------------------+----------------+---+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
|        450000|                US|          middle| 33|     2020|              MI|             FT|  Research Scientist|450000|            USD|       450000|                US|           0|              US|           M|
|        412000|                US|          senior| 63|     2020|              SE|             FT|      Data Scientist|412000|            USD|       412000|                US|         100|              US|           L|
|        450000|                US|          middle| 97|     2021|              MI|             FT|Financial Data An...|450000|            USD|       450000|                US|         100|              US|           L|
+--------------+------------------+----------------+---+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+

last task is to save in variable and then print this variable of the biggest salary_in_usd from df_final

In [30]:
biggest_salary_in_usd = df_final.select(max('biggest_salary')).collect()[0][0]
biggest_salary_in_usd

'450000'

It is the end of PySpark basics. In other lessons you will learn optimizations technics and how to make distributed system